<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"> New Blog</div>
     <form class = "ui form" action="/blogs" method="POST">
        <div class="ui fluid">
            <label for="">Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="ui fluid">
            <label for="">Image</label>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="ui fluid">
            <label for="">Blog Content</label>
            <textarea name="nlog[body]" id="" cols="30" rows="10"></textarea> 
        </div>
        <input class="ui voilet big basic button" type="submit">
    </form> 
</div>



<% include partials/footer %>
